<div class="wrapper">
  <article class="card card--event">
    <a class="card__link" href="https://www.meetup.com/wpbristol/"></a>
    <h3>Event<time datetime="2018-03-05">March 5</time></h3>
    <a class="card__heading" href="https://www.meetup.com/wpbristol/">
      <h2>Bristol Wordpress Meetup</h2>
    </a>
    <p>We meet monthly for interesting talks, expert website help and the opportunity to share knowledge with each other.</p>
  </article>

  <article class="cardx">
    <a class="card__link" href="https://css-irl.info/becoming-a-tech-speaker/"></a>
    <h3>Article<time datetime="2018-02-23">February 23</time></h3>
    <a class="card__heading" href="https://css-irl.info/becoming-a-tech-speaker/">
      <h2>Becoming a Tech Speaker</h2>
    </a>
    <p>How becoming a tech speaker has helped me develop my career and my confidence in myself as a developer, and why you should try it!</p>
  </article>

  <article class="card">
    <a class="card__link" href="https://css-irl.info/to-grid-or-to-flex/"></a>
    <h3>Article<time datetime="2018-02-11">February 11</time></h3>
    <a class="card__heading" href="https://css-irl.info/to-grid-or-to-flex/">
      <h2>To Grid or to Flex?</h2>
    </a>
    <p>How do you know which layout method to choose? Here are some pointers</p>
  </article>

  <article class="card">
    <a class="card__link" href="https://css-irl.info/my-css-grid-wishlist/"></a>
    <h3>Article<time datetime="2018-02-03">February 3</time></h3>
    <a class="card__heading" href="https://css-irl.info/my-css-grid-wishlist/">
      <h2>My CSS Grid Wishlist</h2>
    </a>
    <p>There are a few of my CSS layout needs that Grid hasn’t quite managed to fulfill just yet...</p>
  </article>

  <article class="card card--event">
    <a class="card__link" href="https://www.meetup.com/Women-Who-Code-Bristol/events/255736997/"></a>
    <h3>Event<time datetime="2018-01-09">January 9</time></h3>
    <a class="card__heading" href="https://www.meetup.com/Women-Who-Code-Bristol/events/255736997/">
      <h2>Women Who Code Bristol</h2>
    </a>
    <p>When it comes to crafting layouts on the web, CSS Grid is more powerful than anything we’ve had available to us before. In this talk I’ll look at how we can harness the power of Grid...</p>
  </article>
</div>
