$themes: (
  light: (
    backgroundColor: #fff,
    textColor: #408bbd,
    buttonTextColor: #408bbd,
    buttonTextTransform: none,
    buttonTextHoverColor: #61b0e7,
    buttonColor: #fff,
    buttonBorder: 2px solid #fff,
  ),
  dark: (
    backgroundColor: #000,
    textColor: #408bbd,
    buttonTextColor: #408bbd,
    buttonTextTransform: none,
    buttonTextHoverColor: #61b0e7,
    buttonColor: #fff,
    buttonBorder: 2px solid #fff,
  )
);

@mixin theme-this($themes: $themes) {
  @each $theme-name, $theme in $themes {
    :host-context(.theme-#{$theme-name}) & {
      $theme-map: $theme !global;

      @content;

      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}


//.theme-light .app-container {
//  background-color: white;
//}
//
//.theme-dark .app-container {
//  background-color: #222;
//}
//
//.theme-light .app-container .button {
//  background-color: #fff;
//}
//
//.theme-light .app-container .button:hover {
//  color: #61b0e7;
//}
//
//.theme-dark .app-container .button {
//  background-color: #333;
//}
//
//.theme-dark .app-container .button:hover {
//  background-color: #ddd;
//}
//


//.theme-dark [_nghost-c2] .app-container[_ngContent-xx] .button[_ngContent-xx] {
//  background-color: #333;
//}
//
//.theme-light [_nghost-c2] .app-container[_ngContent-xx] .button[_ngContent-xx] {
//  background-color: #ddd;
//}
